{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block body_block %}

    <div class="page-header">
    {% if user.is_authenticated %}
        <h1>Gaana Welcomes...{{ user.username }}!</h1>
    {% else %}
        <h1>Gaana welcomes...</h1>
    {% endif %}
    </div>

    {% if user.is_authenticated %}
        {% if artists %}
            <h2>Artists</h2>

            <ul>
                {% for artist in artists %}
                    <li><a href="/gaana/artist/{{ artist.slug }}">{{ artist.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There is no Artist present.</strong>
        {% endif %}

        <a href="/gaana/create_playlist/">Playlists</a><br />

    {% endif %}
{% endblock %}